


body {
	background-color: #E6E6FA;
	text-align: center;
}

h1 {
	color: #1593E9FF;
	font-size: 77px;
}

h2 {
	font-size: 50px;
	color: salmon;
}

h3 {
	font-size: 20px;
}

/*Блочные (block) элементы имеют высоту, ширину, padding, margin, border, а также располагаются вертикально, друг под другом.
Строчные (inline) элементы располагаются горизонтально, друг за другом.
Элементы inline-block обладают характеристиками как блочных, так и строчных элементов.*/

div {
	display: inline-block;
	text-align: center;
	width: 30%;
	height: 630px;
	margin-left: 10px;
	border: 4px solid #FA8072;
}

img {
	box-shadow: 0 0px 30px rgb(0 0 0);
	width: 350px;
	height: 350px;
}

p {
	width: 420px;
	margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    margin-bottom: 40px;
    color: #708090;

  }

span {
	color: salmon;
}

/*-------------------------------------------------------------------------------*/

.movies {
	display: block;
	padding: 0 0 300px 0;
	text-align: center;
	vertical-align: top;
}

.post {
	border-radius: 10px;
}

.movis_bloc {

	width: 30%;
	border-radius: 10px;
}

a {
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
	color: #c3c6cd;
	text-transform: none;
	padding: 8px 30px;
	border: 2px solid #c3c6cd;
}
/* hover нависать*/
a:hover  {
  background: #c3c6cd;
  color: #fff;
  transition: all 0.5s ease;
/*  border: 1px solid #fff;*/
}

.black {
	color: red;
}








/**/















/*-------------------------------------------------------*/
/*body {
	background-color: #fff;
	text-align: center;
}

h1 {
	font-size: 60px;
	color: salmon;
	text-align: center;
	margin-top: 60px;
}

img {
	width: 400px;
	height: 420px;
	vertical-align: top;
}

div {
	display: inline-block;

}

h2 {
	color: #009;
	font-size: 40px;
}
a {
	text-decoration: none;
	font-size: 30px;
	color: black;
}*/

/*-------------------------------------------------------*/

/*
div {
	display: inline-block;
	background-color: aliceblue;
	width: 30%;
	border: 4px black solid;
	border-left-width: 20px;
	border-right-style: double;
	margin:0 5px;
	padding:5px 10px;
	text-align: center;
}*/